.movie-header {
  padding-top: 16px;
  color: #eeeeee;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #424242;
  margin-bottom: 16px;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-container {
  display: flex;
  margin: 12px 16px;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}

.image-box {
  display: flex;
  justify-content: flex-start;
  padding-right: 24px;
  max-height: 278px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .movie-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    color: #eeeeee;
  
    h3 {
      font-weight: bold;
      margin: 8px 0;
    }
  }
  
  .movie-row {
    width: 100%;
    display: flex;
    color: #eeeeee;
    
    p {
      padding: 0;
      margin: 8px 0;
    }
  }
  
  .movie-row-rating {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    color: #eeeeee;
    margin: 8px 0;
  }
}
