.movie-header {
  padding-top: 16px;
  color: #eeeeee;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #424242;
  margin-bottom: 16px;
}

.media-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8px 2px 2px;
  max-width: 185px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #616161;
  font-family: Helvetica, Arial, sans-serif;
}

.media-title {
  display: flex;
  justify-content: start;
  color: #eeeeee;

  p {
    font-weight: bold;
    margin: 2px 0 6px;
  }
}

.media-row2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #eeeeee;
  
  p {
    margin: 6px 0;
  }
}

.media-row3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #eeeeee;

  p {
    margin: 6px 0;
  }
}