.main-container {
  width: 100%;
}

.media-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8px 2px 2px;
  max-width: 185px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e0e0e0;
}

.media-title {
  display: flex;
  justify-content: start;
  color: #eeeeee;

  p {
    font-weight: bold;
    margin: 2px 0 6px;
  }
}

.media-row2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #eeeeee;
  
  p {
    margin: 6px 0;
  }
}

.media-row3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #eeeeee;

  p {
    margin: 6px 0;
  }
}