.user-signin {
  display: flex;
  justify-content: center;
}

.user-input {
  border: none;
  border-bottom: 1px solid #eeeeee;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: #eeeeee;
}

.user-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}